/** @format */

.arrow {
  border-radius: 120px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 auto;
  background: var(--dark2);
}
.arrow:hover {
  background: var(--orange);
}

.arrow:active {
  transform: scale(0.98);
  background: var(--orange2);
}

.arrow img {
  width: "9px";
  height: "18px";
}

@media (max-width: 1440px) {
  .arrow {
    width: 48px;
    height: 48px;
  }
}
